<form [formGroup]="fgValidador">
  <div class="row">
    <div class="input-field col s12">
      <select formControlName="deptoId" (change)="cargarCiudadesPorDepartamento()">
        <option *ngFor="let d of listaDepartamentos" value="{{d.id}}">{{d.nombre}}</option>
      </select>
      <label>Departamentos</label>
    </div>

    <div class="input-field col s12">
      <select formControlName="ciudadId">
        <option *ngFor="let d of listaCiudades" value="{{d.id}}">{{d.nombre}}</option>
      </select>
      <label>Ciudades</label>
    </div>
  </div>
  <div class="row">
    <div class="file-field input-field col s9">
      <div class="btn">
        <span>Seleccionar Imagen</span>
        <input formControlName="imagen" (change)="CuandoSeleccionanArchivo($event)" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <div class="col s3">
      <input type="button" class="btn" value="Cargar Imagen" (click)="CargarImagenAlServidor()" />
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <strong>{{nombreImagenTemp}}</strong>
    </div>
  </div>
</form>